<ion-view view-title="Cave">
    <ion-content>
			<div class="header-cave">
				<div class="header-picture">
					<img src="https://randomuser.me/api/portraits/thumb/men/80.jpg" alt="You" />
				</div>
				<div class="header-info">
					<div class="col info-item">
						<p><strong class="data">42</strong> bouteilles</p>
					</div>
					<div class="col info-item">
						<p><strong class="data">4</strong> cépages</p>
					</div>
					<div class="col info-item">
						<p><strong class="data">4</strong> notes</p>
					</div>
				</div>
			</div>

			<div class="cave-list">
				<a class="item item-avatar" href="#">
		      <img src="https://randomuser.me/api/portraits/thumb/men/79.jpg">
		      <h2>Nom de la bouteille</h2>
		      <p>Quick desc...</p>
		    </a>

				<a class="item item-avatar" href="#">
		      <img src="https://randomuser.me/api/portraits/thumb/men/78.jpg">
					<h2>Nom de la bouteille</h2>
		      <p>Quick desc...</p>
		    </a>

				<a class="item item-avatar" href="#">
		      <img src="https://randomuser.me/api/portraits/thumb/men/77.jpg">
					<h2>Nom de la bouteille</h2>
		      <p>Quick desc...</p>
		    </a>
			</div>
    </ion-content>
</ion-view>
