<ion-view view-title="Fiche">
    <ion-content>
        <div class="fiche">
            <div class="base">
                <img src="img/placeholder.jpg" class="wine-img" alt="">

                <div class="counter-wine">
                    <div class="ion-ios-wineglass"></div>
                    <div class="number-bottle">20</div>
                </div>
                <div class="row-fiche">
                  <p class="producteur">{{dataFiche[0].Vineyard.Name}}</p>
                  <p class="nom-vin">{{dataFiche[0].Name}}</p>
                  <button class="button-add" type="button" name="button" ng-click="addWine({{dataFiche[0].id}})">+</button>
                </div>
                <div class="row-info">
                  <div class="info-note">
                    <span>{{dataFiche[0].Ratings.HighestScore / 100 * 5}} / 5</span>
                    <span>{{dataFiche[0].Ratings.List.length}} notes</span>
                  </div>
                  <div class="info-origin">
                    <span>{{dataFiche[0].Varietal.Name}}, {{dataFiche[0].Appellation.Region.Name}}</span>
                  </div>
                </div>
                <div class="item range">
                  <i class="icon ion-ios-star-outline"></i>
                  <input type="range" name="volume" min="0" max="5" value="2.5" ng-model="notation">
                  <i class="icon ion-ios-star"></i>
                </div>
                <div class="row-content">
                  {{description}}
                </div>
            </div>


        </div>


    </ion-content>

</ion-view>
