<ion-view view-title="Fiche">
    <ion-content>
        <div class="fiche">
            <div class="base">
                <img src="img/placeholder.jpg" class="wine-img" alt="">

                <div class="counter-wine">
                    <div class="ion-ios-wineglass"></div>
                    <div class="number-bottle">20</div>
                </div>
            </div>
            <div class="row-info prod">
                <div class="producteur">PRODUCTEUR</div>
                <div class="name-wine">Nom du vin</div>
            </div>
            <div class="row-info notes">
                <div class="note">4/5</div>
                <div class="cepage">Cépage, France</div>
            </div>
            <div class="row-info prod note-flex">
                <div class="add-note">
                    etoile etoile etoile
                </div>
            </div>
            <div class="row-info description">
                <div class="descrip">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam architecto at dolorem
                    doloremque eligendi esse eum eveniet facere, illo laudantium, minus molestias neque perspiciatis
                    recusandae saepe vitae voluptate voluptatibus!
                </div>
            </div>

        </div>


    </ion-content>

</ion-view>