<ion-view view-title="Fiche">
    <ion-content>
        <div class="fiche">
            <div class="base">
                <img src="img/placeholder.jpg" class="wine-img" alt="">

                <div class="counter-wine">
                    <div class="ion-ios-wineglass"></div>
                    <div class="number-bottle">20</div>
                </div>
                <div class="row-fiche">
                  <p class="producteur">{{dataFiche[0].Vineyard.Name}}</p>
                  <p class="nom-vin">{{dataFiche[0].Appellation.Name}}</p>
                </div>
            </div>


        </div>


    </ion-content>

</ion-view>
