.header-cave{
	background-color: $themeColor;
	padding-top: 25px;
	border-bottom: 1px solid $darkerTheme;

	.header-picture{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;

		img{
			width: 60px;
			height: 60px;
			border-radius: 50px;
		}

	}

	.header-info{
		display: flex;
		align-items: center;
		justify-content: space-between;

		.info-item{
			border-right: 1px solid #ddd;
			color: #fff;
			padding: 10px;

			p{
				text-align: center;
				margin-bottom: 0;
				font-size: 14px;
			}

			.data{
				color: #fff;
			}

			&:last-child{
				border-right: 0;
			}
		}
	}
}
