// _fiche.scss
.fiche {
  position: relative;
  .wine-img {
    width: 100%;
  }
  .base{
    position: relative;
    .add-wine{
      position: absolute;
      bottom: 10px;
      right: 24px;
      font-size: 45px;
      color: #a9243a;
    }
  }
  .counter-wine {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 14pt;
    width: 70px;
    height: 50px;
    background-color: #a9243a;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 30px;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .number-bottle{
      padding-left:10px;
    }
  }
  .row-info {
    width: 100%;
    text-transform: uppercase;
    color: #888;
    font-size: 12pt;
    line-height: 25px;
    display: flex;
    border:solid 1px #eee;
  }
  .prod {
    height: 60px;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .producteur{
      padding-left:5%;

    }
    .name-wine{
      padding-left:5%;
    }

  }
  .notes{
    height: 70px;
    background: #fff;
    color: #333;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .note{
      width: 50%;
      float: left;
      text-align: center;
    }
    .cepage{
      width: 50%;
      float: left;
      text-align: center;
    }
  }
  .add-note{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    .star{
      padding:0 10px;
      font-size:29px;
    }
  }
  .descrip{
    color: #888;
    padding-left: 5%;
    text-transform: initial;
  }
  .note-flex{
    justify-content: center;
    align-items: center;
  }
}


