// _helper.scss

.center-item{
	display: flex;
	align-items: center;
	justify-content: center;
}

.dispFlexBet{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.height{
	position: relative;
	height: 100%;
}

.text-ellipsis{
	text-overflow: ellipsis;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;

}
