.background-login{
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('/img/bg-vin-login.png');
	width: 100%;
	height: 100vh;
	background-size: cover;
}
.wrapper-login{
	padding: 10%;
	height: 100vh;
	width: 100%;
	position: relative;
}
.logo{
	margin-top: 75px;
	width: 60%;
}

.login-signup{
	margin-top: 20px;
	color: #fff;
	font-weight: 400;
}

.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs{
    top: 0px;
}

.pane[hide-nav-bar="true"] .has-tabs-top{
    top:49px!important;
}
